<div class='blog-feedback'>
    <p class='blog-feedback-header with-twitter'>
        Have feedback on this post? Let
        <a href='https://twitter.com/intent/tweet?text=@IonicaBizau%20&amp;related=ionicabizau&url=http://{{fullUrl}}' target='blank'>@IonicaBizau</a> know on Twitter.
    </p>
    <p class='blog-feedback-description'>
        Have any questions or suggestions? [Contact me](/contact).i
        Found a bug? [Report it now](https://github.com/IonicaBizau/gitcms/issues/new)
    </p>
</div>
